<p style="color: green"><%= notice %></p>

<h1>Cabinets</h1>
<a href="#" class="link-dark rounded">Overview</a>
<div id="cabinets">
  <% @cabinets.each do |cabinet| %>
    <%= render cabinet %>
    <p>
      <%= link_to "Show this cabinet", cabinet %>
    </p>
  <% end %>
</div>

<%= link_to "New cabinet", new_cabinet_path, class: "link-dark rounded" %>
